<li>Hello, <%= @student.email %></li>
<li>Hello, <%= @student.full_name %></li>
<li>Hello, <%= @student.headline %></li>
<li>Hello, <%= @student.location %></li>
<li>Hello, <%= @student.position_title %></li>
<li>Hello, <%= @student.position_company %></li>
<li>Hello, <%= @student.picture_url %></li>
<li>Hello, <%= @student.profile_url %></li>
