<li>Hello, <%= @user.email %></li>
<li>Hello, <%= @user.first_name %></li>
<li>Hello, <%= @user.last_name %></li>
<li>Hello, <%= @user.headline %></li>
<li>Hello, <%= @user.location %></li>
<li>Hello, <%= @user.position_title %></li>
<li>Hello, <%= @user.position_company %></li>
<li>Hello, <%= @user.picture_url %></li>
<li>Hello, <%= @user.profile_url %></li>
